<mat-toolbar color="primary" class="app-header">
    <div><a href="#" target="_blank" class="positronx">Complaints Project</a></div>
    <div><a href="#" target="_blank" class="positronx">Hello {{userName}}</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button (click)="logout()">Logout</a>
    </span>
    
  </mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 75%;
margin-top: 15em;
    margin-left: 17em;">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <!-- ComplaintTitle Column -->
    <ng-container matColumnDef="complaintType">
        <th mat-header-cell *matHeaderCellDef> Complaint Type </th>
        <td mat-cell *matCellDef="let element"> {{element.compType}} </td>
    </ng-container>

    <!-- Complaint Column -->
    <ng-container matColumnDef="complaint">
        <th mat-header-cell *matHeaderCellDef> Complaint </th>
        <td mat-cell *matCellDef="let element"> {{element.descreption}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element">
            {{element.status}}
        </td>
    </ng-container>


    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="update" >
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" > <img *ngIf="!isCustomer"
            src="../../../assets/write-pen.svg" style="cursor:pointer" (click)="updateStatus(element)"></td>
    </ng-container>

    <ng-container matColumnDef="delete" >
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" > <img *ngIf="isCustomer"
            src="../../../assets/delete-icon.svg" style="cursor:pointer" (click)="delete(element._id)"></td>
    </ng-container>
    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" style="margin-left: 60em;
margin-top: 4em;" (click)="openDialog()" *ngIf="isCustomer">Add Complaint</button>